<%= render :partial => 'spree/admin/retailers/retailer_tabs', :locals => { :current => 'Retailer Details' } %>

<p id="notice"><%= notice %></p>
<h1><%= @retailer.name %></h1>
<table class="index">
	<tr>
		<th style="width:200px;">Setting</th>
		<th>Value</th>
	</tr>
	<tr>
		<td>State</td>
		<td><%= @retailer.state.titleize %> -- 
		<%= link_to 'Activate', admin_retailer_activate_path(@retailer), :confirm => "You are about to activate retailer #{@retailer.name}. Are you sure?" unless @retailer.state == 'active' %>
		<%= link_to 'Suspend', admin_retailer_suspend_path(@retailer), :confirm => "You are about to suspend retailer #{@retailer.name}. Are you sure?" if @retailer.state == 'active' %>		
		
		</td>
	</tr>
	<tr>
		<td>Name</td>
		<td><%= @retailer.name %>  <%= image_tag @retailer.logo.url %></td>
	</tr>

	<tr>
		<td>Is Super Retailer</td>
		<td><%= check_box_tag '', 'super_retailer', @retailer.is_super_retailer, :disabled => true %></td>
	</tr>
	<tr>
		<td>Ships Wine To</td>
		<td><%= @retailer.ships_wine_to %></td>
	</tr>
	<tr>
		<td>Ships Spirits To</td>
		<td><%= @retailer.ships_spirits_to %></td>
	</tr>
	<tr>
		<td>Ships Champagne To</td>
		<td><%= @retailer.ships_champagne_to %></td>
	</tr>
	<tr>
		<td>Ships Beer To</td>
		<td><%= @retailer.ships_beer_to %></td>
	</tr>
	<tr>
		<td>Ships Other Products To</td>
		<td><%= @retailer.ships_other_products_to %></td>
	</tr>
	<tr>
		<td>Reimburse Shipping Cost</td>
		<td><%= check_box_tag '', 'reimburse_shipping_cost', @retailer.reimburse_shipping_cost, :disabled => true %></td>
	</tr>
	
	
	<tr><td colspan=2 style="background-color:#ccc;"></td></tr>
	
	<tr>
		<td>DBA Name</td>
		<td><%= @retailer.dba_name %></td>
	</tr>
	<tr>
		<td>Tax ID</td>
		<td><%= @retailer.taxid %></td>
	</tr>
	<tr>
		<td>Merchant Account</td>
		<td><%= @retailer.merchant_account %></td>
	</tr>
	
	<tr>
		<td>Authorize.net Login</td>
		<td><%= @retailer.gateway_login %></td>
	</tr>
	<tr>
		<td>Authorize.net Password</td>
		<td><%= @retailer.gateway_password %></td>
	</tr>

	<tr><td colspan=2 style="background-color:#ccc;"></td></tr>
	

	<tr>
		<td>Fedex Key</td>
		<td><%= @retailer.fedex_key %></td>
	</tr>
	<tr>
		<td>Fedex Account Number</td>
		<td><%= @retailer.fedex_account %></td>
	</tr>
	<tr>
		<td>Fedex Password</td>
		<td><%= @retailer.fedex_password %></td>
	</tr>
	<tr>
		<td>Fedex Meter</td>
		<td><%= @retailer.fedex_meter %></td>
	</tr>

	<tr><td colspan=2 style="background-color:#ccc;"></td></tr>
	<tr>
		<td>UPS Key</td>
		<td><%= @retailer.ups_key %></td>
	</tr>
	<tr>
		<td>UPS Account Number</td>
		<td><%= @retailer.ups_account_number %></td>
	</tr>
	<tr>
		<td>UPS Username</td>
		<td><%= @retailer.ups_username %></td>
	</tr>
	<tr>
		<td>UPS Password</td>
		<td><%= @retailer.ups_password %></td>
	</tr>

	<tr><td colspan=2 style="background-color:#ccc;"></td></tr>
	
	
	<tr>
		<td>Physical Address</td>
		<td><%= @retailer.physical_address.to_string %></td>
	</tr>
	<tr>
		<td>Mailing Address</td>
		<td><%= @retailer.mailing_address.to_string %></td>
	</tr>
	<tr>
		<td>Retailer Admins</td>
		<td><% @retailer.users.each do |user| %>
	  	<%= link_to user.email, edit_admin_user_path(user) %><br />
	  <% end %></td>
	</tr>
	<tr>
		<td>Phone</td>
		<td><%= @retailer.phone %></td>
	</tr>
	<tr>
		<td>Fax</td>
		<td><%= @retailer.fax %></td>
	</tr>
	<tr>
		<td>Mobile</td>
		<td><%= @retailer.mobile %></td>
	</tr>
	<tr>
		<td>Equipment</td>
		<td><%= [(@retailer.has_pc ? "PC" : nil), (@retailer.has_internet ? "Internet" : nil), (@retailer.has_wireless ? "Wireless" : nil), (@retailer.has_printer ? "Printer" : nil)].join(', ') %></td>
	</tr>
	<tr>
		<td>Location</td>
		<td>Lat: <%= @retailer.latitude %>, Long: <%= @retailer.longitude %></td>
	</tr>
	
	<tr>
		<td>Created At</td>
		<td><%= @retailer.created_at %></td>
	</tr>
	<tr>
		<td>Updated At</td>
		<td><%= @retailer.updated_at %></td>
	</tr>



</table>


<%= link_to 'Edit', edit_admin_retailer_path(@retailer) %> |
<%= link_to 'Back', admin_retailers_path %>
