<table width="657" cellspacing="0" cellpadding="0" border="0" align="center" id="Table_01" _moz_dirty="">
	<tbody><tr>
		<td width="657" valign="top" height="15" align="left"><br _moz_dirty="" type="_moz"></td>
		<td width="100%" valign="top" align="left">&nbsp;</td>
		<td width="100%" valign="top" align="left">&nbsp;</td>
		<td valign="top" align="left" width="18px">&nbsp;</td>
		<td valign="top" align="left">&nbsp;</td>
		<td width="54" valign="top" height="15" align="left"><br _moz_dirty="" type="_moz"></td>
	</tr>
	<tr>
		<td valign="top" align="left">
		  <img width="54" height="1" alt="" src="http://<%= Spree::Config[:site_url] %>/assets/mailer/blank.jpg"></td>
		<td valign="top" align="left">&nbsp;</td>
		<td valign="top" align="left">&nbsp;</td>
		<td valign="top" align="left">&nbsp;</td>
		<td valign="top" align="left">
		  <img width="254" height="1" alt="" src="http://<%= Spree::Config[:site_url] %>/assets/mailer/blank.jpg"></td>
		<td valign="top" align="left">
		  <img width="54" height="1" alt="" src="http://<%= Spree::Config[:site_url] %>/assets/mailer/blank.jpg"></td>
	</tr>
	<tr>
		<td valign="top" align="left">&nbsp;</td>
		<td valign="top" align="left">&nbsp;</td>
		<td valign="top" align="left">
			<img width="277" height="57" alt="" src="http://<%= Spree::Config[:site_url] %>/assets/mailer/logo.jpg"></td>
		<td valign="top" align="left">&nbsp;</td>
		<td width="254" valign="top" height="57" align="right" style="margin:0;font: 11px Georgia, 'Times New Roman', Times, serif; font-weight:normal; color:#593D2B"><a style=" color:#593D2B; list-style:none; text-decoration:none" target="_blank" href="http://<%= Spree::Config[:site_url] %>/account">My Account</a></td>
		<td width="54" valign="top" height="57" align="left"><br _moz_dirty="" type="_moz"></td>
	</tr>
	<tr>
		<td width="657" valign="top" height="15" align="left" colspan="6" style="border-bottom:4px double #593D2B">&nbsp;</td>
    </tr>
	<tr>
	  <td width="657" valign="top" height="25" align="left" colspan="6">&nbsp;</td>
  </tr>
	<tr>
		<td valign="top" align="left">&nbsp;</td>
		<td valign="top" height="45" align="left" style="margin:0;font: 23px Georgia, 'Times New Roman', Times, serif; font-weight:bold; color:#C13828" colspan="4"><%= I18n.t('order_mailer.cancel_email.subject') %></td>
		<td valign="top" align="left">&nbsp;</td>
	</tr>
	<tr>
		<td valign="top" align="left"><br _moz_dirty="" type="_moz"></td>
		<td valign="top" colspan="4"><table width="100%">
		  <tbody><tr>
		    <td width="100%" valign="top" align="left" style="margin:0;font: 11px Georgia, 'Times New Roman', Times, serif; font-weight:normal; text-justify:distribute">
				  <p>Dear <%= @order.bill_address.firstname %>:</p>
					<p>RE: Order Number: <a href="http://<%= Spree::Config[:site_url] %>/orders/<%= @order.number %>"><%= @order.number %></a></p>
					<p>Unfortunately, your order below has been cancelled. We invite you to contact us at <a href="mailto:support@reservebar.com">support@reservebar.com</a> to find out why. Please reference your Order Number so we can service you more efficiently and accurately.  We are working on our systems so, in the future, we can provide you with details of the cancellation directly within this email.</p>
					<p>We apologize for this inconvenience and hope we have an opportunity to serve you again in the near future.  Please visit <a href="http://www.reservebar.com" target="_blank">www.ReserveBar.com</a> for all your personal and professional gifting needs.</p>
					<p>Gratefully yours,<br>
				  ReserveBar.com<br>
			  	Good Spirits. Delivered.</p>
	    	</td>
	      </tr>
	    </tbody></table></td>
		<td valign="top" align="left"><br _moz_dirty="" type="_moz"></td>
	</tr>
	<tr>
		<td width="657" valign="top" height="26" align="left" colspan="6"><br _moz_dirty="" type="_moz"></td>
	</tr>
	<tr>
		<td valign="top" align="left"><br _moz_dirty="" type="_moz"></td>
		<td valign="top" align="center" colspan="4">
        <table width="549px" cellpadding="0" border="0" align="center" style=" margin:0; padding:0px; inline-box-align:initial; border:4px double #593D2B">
		  <tbody><tr style="border:none">
		    <td valign="middle" height="36" style="background-color:#C13828" colspan="3"><table width="100%" cellpadding="0" border="0">
		      <tbody><tr>
		        <td width="18"><br _moz_dirty="" type="_moz"></td>
		        <td style="font: 20px Georgia, 'Times New Roman', Times, serif; font-weight:bold; color:#FFF; vertical-align:middle">PURCHASING INFORMATION</td>
	          </tr>
	        </tbody></table></td>
	      </tr>
		  <tr>
		    <td height="27" style="border-top:4px double #593D2B" colspan="3">&nbsp;</td>
	      </tr>
		  <tr>
		    <td width="18" height="9">&nbsp;</td>
		    <td width="482" style="font: 10px Georgia, 'Times New Roman', Times, serif; text-align:left"><table width="100%" height="9">
		      <tbody><tr>
		        <td width="149" style="font: 11px Georgia, 'Times New Roman', Times, serif; font-weight:bold; text-align:left">Your E-mail Address:</td>
		        <td width="345" style="font: 10px Georgia, 'Times New Roman', Times, serif; text-align:left"> <%= @order.email %> </td>
	          </tr>
	        </tbody></table></td>
		    <td width="18px"><br _moz_dirty="" type="_moz"></td>
	      </tr>
		  <tr>
		    <td><br _moz_dirty="" type="_moz"></td>
		    <td><table width="100%">
		      <tbody><tr>
		        <td height="20"><br _moz_dirty="" type="_moz"></td>
		        <td><br _moz_dirty="" type="_moz"></td>
		        <td><br _moz_dirty="" type="_moz"></td>
	          </tr>
		      <tr>
		        <td width="33%" valign="top" style="font: 11px Georgia, 'Times New Roman', Times, serif; font-weight:bold; text-align:left; padding-right:10px">Billing Address:</td>
		        <td width="33%" valign="top" style="font: 11px Georgia, 'Times New Roman', Times, serif; font-weight:bold; text-align:left; padding-left:10px; padding-right:10px">Shipping Address:</td>
		        <td width="33%" valign="top" style="font: 11px Georgia, 'Times New Roman', Times, serif; font-weight:bold; text-align:left; padding-left:10px"><%= "Gift Details:" if @order.gift %></td>
	          </tr>
		      <tr>
		        <td width="33%" valign="top" style="font: 11px Georgia, 'Times New Roman', Times, serif; font-weight:normal; text-align:left; padding-right:10px"><%= @order.bill_address %></td>
		        <td width="33%" valign="top" style="font: 11px Georgia, 'Times New Roman', Times, serif; font-weight:normal; text-align:left; padding-left:10px; padding-right:10px"><%= @order.ship_address %></td>
		        <td width="33%" valign="top" style="font: 11px Georgia, 'Times New Roman', Times, serif; font-weight:normal; text-align:left; padding-left:10px">
		        	<% if gift = @order.gift %>
		        	<b><%= t('gift.recipient') %></b>: <%= gift.recipient %><br />
							<b><%= t('gift.email') %></b>: <%= gift.email %><br />
							<b><%= t('gift.phone') %></b>: <%= gift.phone %><br />
							<b><%= t('gift.message') %></b>: <%= gift.message %>
	            <% end %>
	            </td>
	          </tr>
	        </tbody></table></td>
		    <td><br _moz_dirty="" type="_moz"></td>
	      </tr>
		  <tr>
		    <td height="20"><br _moz_dirty="" type="_moz"></td>
		    <td></td>
		    <td>&nbsp;</td>
	      </tr>
	    </tbody></table></td>
		<td valign="top" align="left"><br _moz_dirty="" type="_moz"></td>
	</tr>
	<tr>
	  <td valign="top" height="26" align="left"><br _moz_dirty="" type="_moz"></td>
	  <td valign="top" height="26" align="left" colspan="4"><br _moz_dirty="" type="_moz"></td>
	  <td valign="top" height="26" align="left"><br _moz_dirty="" type="_moz"></td>
  </tr>
	<tr>
	  <td width="54" valign="top" height="53" align="left" rowspan="2"><br _moz_dirty="" type="_moz"></td>
		<td width="549px" valign="top" height="26" align="center" colspan="4"><table width="549px" cellpadding="0" border="0" align="center" style=" margin:0; padding:0px; border:4px double #593D2B">
		  <tbody><tr style="border:none">
		    <td valign="middle" height="36" style="background-color:#C13828" colspan="7"><table width="100%" cellpadding="0" border="0">
		      <tbody><tr>
		        <td width="18"><br _moz_dirty="" type="_moz"></td>
		        <td style="font: 20px Georgia, 'Times New Roman', Times, serif; font-weight:bold; color:#FFF; vertical-align:middle">ORDER SUMMARY</td>
	          </tr>
	        </tbody></table></td>
	      </tr>
		  <tr>
		    <td height="12" style="border-top:4px double #593D2B" colspan="7">&nbsp;</td>
	    </tr>

		  <tr>
		    <td width="18">&nbsp;</td>
		    <td><table cellspacing="0" cellpadding="0" border="0" width="100%" style="font: 12px Georgia, 'Times New Roman', Times, serif; font-weight:normal; text-align:left">
		      <tbody><tr>
		        <td valign="top" style="font-size:14px" colspan="4"><table width="100%" align="right">
		            <tbody>
		            	<tr>
		              	<td align="left" valign="top" style="font-size: 15px; text-align:left; font-family: georgia,serif;"><strong>Order #: </strong><%= @order.number %></td>
		              </tr>
		            	<tr style="font-family: georgia,serif;">
		              	<td width="100%" valign="top" style="font:Georgia, 'Times New Roman', Times, serif; font-size:15px; text-align:left"><strong><span _moz_dirty="" style="font-family: georgia,serif;">Shipping Method</span>: </strong><span _moz_dirty="" style="font-family: georgia,serif;"><%= @order.shipping_method.name %></span></td>
	                </tr>
	                <tr>
		              	<td align="left" valign="top" height="36px" style="font-size: 15px; text-align:left; font-family: georgia,serif;"><strong>Order Status:</strong><%= @order.state %></td>
		              </tr>
	            </tbody></table></td>
	          </tr>
		      <% @order.line_items.each do |item| %>
		      <% bgcolor = cycle('#d8d8d8', '#ffffff') %>
		      <tr>
		        <td width="60%" height="21" style="text-align:right;background:<%= bgcolor -%>;font-size:12px;font-family:Georgia;text-decoration:none;font-weight:400;min-height:15.75pt"><%= item.variant.product.name %>
            </td>
		        <td width="9px" style="background:<%= bgcolor -%>"><br>
            </td>
		        <td style="background:<%= bgcolor -%>;font-size:12px;width:74pt;font-family:Georgia;text-decoration:none;font-weight:400">
            	<%= number_to_currency(item.price * item.quantity) %>
            </td>
	        </tr>
		      <tr>
		        <td width="60%" height="21" style="text-align:right;background:<%= bgcolor -%>;font-size:12px;font-family:Georgia;text-decoration:none;font-weight:400;min-height:15.75pt"><%= item.gift_package ? "Gift Packaging" : "No Gift Packaging" %>
            </td>
		        <td width="9px" style="background:<%= bgcolor -%>"><br>
            </td>
		        <td style="background:<%= bgcolor -%>;font-size:12px;width:74pt;font-family:Georgia;text-decoration:none;font-weight:400">
            	<%= item.gift_package ? number_to_currency(item.gift_package.price * item.quantity) : number_to_currency(0) %>
            </td>
	        </tr>
	        <% end %>                
		      <tr>
		        <td height="9" style=" border-bottom:2px solid #593D2B" colspan="3">&nbsp;</td>
	          </tr>
		      <tr>
		        <td valign="bottom" height="18" style="text-align: right; color: rgb(193, 56, 40); font-family: georgia,serif;"><strong>SubTotal</strong></td>
		        <td>&nbsp;</td>
		        <td valign="bottom" height="18" style="color: rgb(193, 56, 40); font-family: georgia,serif;"><strong><%= number_to_currency(@order.item_total + @order.gift_packaging_total) %></strong></td>
	          </tr>
		      <tr>
		        <td colspan="3"><br _moz_dirty="" type="_moz"></td>
	          </tr>
		      <% @order.adjustments.eligible.each do |adjustment| %>
					<% next if (adjustment.originator_type == 'Spree::TaxRate') and (adjustment.amount == 0) %>
						<tr class="total">
						  <td valign="bottom" height="18" style="text-align: right; font-family: georgia,serif;"><strong><%= adjustment.label %></strong></td>
						  <td width="2px"><br _moz_dirty="" type="_moz"></td>
						  <td valign="bottom" height="18" style="font-family: georgia,serif;"><span><%= number_to_currency adjustment.amount %></span></td>
						</tr>
					<% end %>
		      <tr>
		        <td colspan="3"><br _moz_dirty="" type="_moz"></td>
	          </tr>
		      <tr>
		        <td valign="top" height="36" style="text-align: right; font-size: 15px; color: rgb(89, 61, 43); font-family: georgia,serif;"><strong>Order Total</strong></td>
		        <td width="2px"><br _moz_dirty="" type="_moz"></td>
		        <td valign="top" height="36" style="font-size: 15px; color: rgb(89, 61, 43); font-family: georgia,serif;"><strong><%= number_to_currency(@order.total) %></strong></td>
	          </tr>
	        </tbody></table></td>
		    <td width="18">&nbsp;</td>
	      </tr>

	        </tbody></table></td>
		    <td rowspan="2">&nbsp;</td>
  </tr>
	<tr>
	  <td valign="top" height="26" align="center" colspan="4">&nbsp;</td>
  </tr>
</tbody>
</table>

