<div style="width:660px;margin:20px auto;font:12px Georgia, 'Times New Roman', Times, serif;">
	<table border="0" cellspacing="0" cellpadding="0" style="margin:0 auto;">
		<tr>
			<td width="280"><img width="277" height="57" alt="RetailBar" src="http://<%= Spree::Config[:site_url] %>/assets/mailer/logo.jpg"></td>
			<td width="280" align="right"><a style="font: 11px Georgia, 'Times New Roman', Times, serif;color:#593D2B;text-decoration:none" target="_blank" href="http://<%= Spree::Config[:site_url] %>/admin">Admin Portal</a></td>
		</tr>
	</table>
	<div style="border-top:double #593D2B 2.25pt;margin-top:20px;padding:0 50px;">
	<p style="font: 23px Georgia, 'Times New Roman', Times, serif; font-weight:bold; color:#C13828"">ReserveBar orders status</p>

	<p>To ReserveBar Management,</p>

	<p>This is our regular status update listing any orders that are overdue.</p>
	
	<% @retailers.each do |retailer| %>
	<p><strong>Retailer info:</strong> <%= retailer.name %>, <%= retailer.physical_address.try(:state_text) %>, <%= retailer.email %>, <%= retailer.phone %></p>
	
	<%= render :partial => "spree/admin/shared/reminded_orders", :locals => {:retailer => retailer} %>
	
	<br /><br />
	<% end %>

	<p>ReserveBar<br />
			Good Spirits. Delivered.</p>
	</div>
</div>
