<%= form_for(@business_gifting) do |f| %>
	<div>Asterisks (*) indicate required information</div>
	<%= f.hidden_field :user_id %>
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td class="field"><%= f.label :first_name, t('business_gifting.first_name') %><span class="req">*</span><br />
    		<%= f.text_field :first_name, :maxlength => 30, :class => "required" %></td>
			<td class="field"><%= f.label :last_name, t('business_gifting.last_name') %><span class="req">*</span><br />
    <%= f.text_field :last_name, :maxlength => 30, :class => "required" %></td>
		</tr>
		<tr>
			<td class="field"><%= f.label :company_name, t('business_gifting.company_name') %><span class="opt">(Optional)</span><br />
    		<%= f.text_field :company_name, :maxlength => 30 %></td>
			<td></td>
		</tr>
		<tr>
			<td class="field"><%= f.label :phone_number, t('business_gifting.phone_number') %><span class="req">*</span><br />
    		<%= f.text_field :phone_number, :maxlength => 10, :class => "required digits" %></td>
			<td></td>
		</tr>
		<tr>
			<td class="field"><%= f.label :email, t('business_gifting.email') %><span class="req">*</span><br />
    		<%= f.text_field :email, :class => "required email" %></td>
			<td></td>
		</tr>
		<tr>
			<td class="field"><%= f.label :delivery_date, t('business_gifting.delivery_date') %><span class="opt">(Optional)</span><br />
    		<%= f.text_field :delivery_date, :class => "date" %></td>
			<td class="field"><%= f.label :recipients, t('business_gifting.recipients') %><span class="opt">(Optional)</span><br />
    		<%= f.text_field :recipients, :class => "number" %></td>
		</tr>
		<tr>
			<td class="field" colspan="2">
				<%= f.label :message, t('business_gifting.message') %><span class="opt">(Optional)</span>
				<label id="message_limit_error" class="error" style="display:none">Character Limit Reached</label><br />
    		<%= f.text_area :message, :maxlength => 500, :rows => 4, :cols => 40 %>
    		<label id="message_length_counter" class="error" style="text-align:right;"><span></span> characters left</label>
    	</td>
		</tr>
		<tr>
			<td class="actions" colspan="2"><%= f.submit("Submit") %></td>
		</tr>
	</table>
<% end %>
<style type="text/css">
	#new_spree_business_gifting table {border-collapse: inherit;}
	#new_spree_business_gifting span.req {color:red;}
	#new_spree_business_gifting span.opt {color:#666;}
	#business_gifting_message {width:500px;}
	.actions {margin:10px 0;}
</style>

<script type="text/javascript">
	$(document).ready(function(){	  
	  $("#new_spree_business_gifting").validate();

		$('#message_length_counter > span').replaceWith("<span>" + (500 - $('#business_gifting_message').val().length) + "</span>");
		function limits(obj, limit){
			var text = $(obj).val(); 
			var length = text.length;
			if(length > limit){
				$(obj).val(text.substr(0,limit));
				$('#message_limit_error').show();
				$("#message_limit_error").css("display","inline");
				return false;
			} else {
				$('#message_length_counter').show();
				$('#message_length_counter > span').replaceWith("<span>" + (limit - length) + "</span>");
				$('#message_limit_error').hide();
				return true;
			}
		}

		$('#business_gifting_message').keyup(function(){
			limits($(this), 500);
		});
	});
</script>