<% if @order.state == 'address' %>
<div style="clear:both;margin-top:24px;">&nbsp;</div>
<div id="checkout-gift" data-hook="checkout_gift_box">
  <%= form.check_box :is_gift %>&nbsp;
  <%= form.label :is_gift, "Please send this order as a gift" %>
</div>
<fieldset id="gift_form" data-hook>
  <% @order.gift ||= Spree::Gift.new(:sender_id => @order.user_id) %>
  <%= form.fields_for :gift do |gift_form| %>
    <legend><%= t('gift.title')%></legend>
    <div class="gift_inner" data-hook="gift_inner">
    	<div class="group_fields clearfix" id="gname">
		  	<p class="field" id="gfirst_name">
		      <%= gift_form.label :first_name, t('gift.first_name') %><span class="req">*</span><br />
		      <%= gift_form.text_field :first_name %>
		    </p>
		  	<p class="field" id="glast_name">
		      <%= gift_form.label :last_name, t('gift.last_name') %><span class="req">*</span><br />
		      <%= gift_form.text_field :last_name %>
		    </p>
      </div>
    	<p class="field" id="gemail">
        <%= gift_form.label :email, t('gift.email') %><span class="req">*</span><br />
        <%= gift_form.text_field :email %>
		<span class="gnote" style="display:block;line-height:15px;">This email address will be used to notify the gift recipient that a gift has been sent (no details of the gift contents or the sender will be disclosed) and to facilitate delivery. This email address will not be sold or used for spam.</span>
      </p>
    	<p class="field" id="gphone">
        <%= gift_form.label :phone, t('gift.phone') %><span class="req">*</span><br />
        <%= gift_form.text_field :phone %>
		<span class="gnote" style="display:block;line-height:15px;">This phone number will be used to facilitate delivery in case of difficulties by Fedex. This phone number will not be sold or used for telemarketing purposes.</span>
      </p>
    	<p class="field" id="gmessage">
        <%= gift_form.label :message, t('gift.message') %><br />
        <%= gift_form.text_area :message, :rows => 4, :placeholder => 'Please type your gift card message here. Remember there is a limit of 335 characters including all greetings and salutations.' %>
      </p>
      <%= gift_form.hidden_field :sender_id %>
    </div>
  <% end %>
</fieldset>
<% end %>

<%= javascript_tag do %>
	$(document).ready(function(){
	  if ($("#order_is_gift").is(":checked"))
	  	{
	  		$("#gift_form").css("display","block");
	  	}
	  else
	  	{
	  		$("#gift_form").css("display","none");
	  	}
	  
	  $("#order_is_gift").click(function(){
		if ($("#order_is_gift").is(":checked"))
			{
				$("#gift_form").show("fast");
			}
		else
			{
				$("#gift_form").hide("fast");
			}
	  });

	  $("#order_is_legal_age").rules("add", {
			required: true,
			messages: {
				required: "You must agree that you are of legal drinking age to place an order."
			}
		});
	  
	  $("#order_gift_attributes_first_name").rules("add", {
			required: "#order_is_gift:checked"
		});

	  $("#order_gift_attributes_last_name").rules("add", {
			required: "#order_is_gift:checked"
		});

	  $("#order_gift_attributes_email").rules("add", {
			required: "#order_is_gift:checked",
			email: true
		});

	  $("#order_gift_attributes_phone").rules("add", {
			required: "#order_is_gift:checked"
		});
		
		
	  	$("#order_gift_attributes_message").rules("add", {
 			maxlength: 335
 		});
	  
	});
<% end %>
