<table border="1" cellspacing="0" cellpadding="0">
	<tr>
		<th>Order ID</th>
		<th>Order <%= order_type %> at (EST)</th>
		<th>Hours since <%= order_type %></th>
	</tr>
	<% orders.each do |order| %>
	<tr>
		<td><%= link_to order.number, "http://#{Spree::Config[:site_url]}/admin/orders/#{order.number}" %></td>
		<td><%= order.viewed_at.in_time_zone("Eastern Time (US & Canada)").to_s(:time_with_zone) %></td>
		<td><%= (Time.now - order.viewed_at).hours %></td>
	</tr>
	<% end %>
</table>
