<div style="width:660px;margin:20px auto;font:12px Georgia, 'Times New Roman', Times, serif;">
	<table border="0" cellspacing="0" cellpadding="0" style="margin:0 auto;">
		<tr>
			<td width="280"><img width="277" height="57" alt="RetailBar" src="http://<%= Spree::Config[:site_url] %>/assets/mailer/logo.jpg"></td>
			<td width="280" align="right"><a style="font: 11px Georgia, 'Times New Roman', Times, serif;color:#593D2B;text-decoration:none" target="_blank" href="http://<%= Spree::Config[:site_url] %>/admin">Retailer Portal</a></td>
		</tr>
	</table>
	<div style="border-top:double #593D2B 2.25pt;margin-top:20px;padding:0 50px;">
	<p style="font: 23px Georgia, 'Times New Roman', Times, serif; font-weight:bold; color:#C13828"">ReserveBar orders status</p>

	<p>Dear <strong><%= @retailer.name %></strong>,</p>

	<p>This is your regular status update for ReserveBar orders.</p>

	<p><strong>Orders not viewed for over 3 hours since being submitted:</strong></p>

	<table border="0" cellspacing="0" cellpadding="3" style="border-collapse:separate;font-size:12px;text-align:center;border-top:1px solid #CCC;border-left:1px solid #CCC;">
		<tr>
			<th width="100" style="border-bottom:1px solid #CCC;border-right:1px solid #CCC;background-color:#EEE;">Order ID</th>
			<th width="220" style="border-bottom:1px solid #CCC;border-right:1px solid #CCC;background-color:#EEE;">Order submitted at (EDT)</th>
			<th width="200" style="border-bottom:1px solid #CCC;border-right:1px solid #CCC;background-color:#EEE;">Hours since submitted</th>
		</tr>
		<% @retailer.not_viewed_since_submitted.each do |order| %>
		<tr>
			<td style="border-bottom:1px solid #CCC;border-right:1px solid #CCC;"><%= link_to order.number, "http://#{Spree::Config[:site_url]}/admin/orders/#{order.number}" %></td>
			<td style="border-bottom:1px solid #CCC;border-right:1px solid #CCC;"><%= order.completed_at.in_time_zone("Eastern Time (US & Canada)").to_s(:time_without_zone) %></td>
			<td style="border-bottom:1px solid #CCC;border-right:1px solid #CCC;"><%= ((Time.now - order.completed_at) / 3600).round %></td>
		</tr>
		<% end %>
	</table>

	<p><strong>Orders not accepted for over 12 hours since being viewed:</strong></p>

	<table border="0" cellspacing="0" cellpadding="3" style="border-collapse:separate;font-size:12px;text-align:center;border-top:1px solid #CCC;border-left:1px solid #CCC;">
		<tr>
			<th width="100" style="border-bottom:1px solid #CCC;border-right:1px solid #CCC;background-color:#EEE;">Order ID</th>
			<th width="220" style="border-bottom:1px solid #CCC;border-right:1px solid #CCC;background-color:#EEE;">Order viewed at (EDT)</th>
			<th width="200" style="border-bottom:1px solid #CCC;border-right:1px solid #CCC;background-color:#EEE;">Hours since viewed</th>
		</tr>
		<% @retailer.not_accepted_since_viewed.each do |order| %>
		<tr>
			<td style="border-bottom:1px solid #CCC;border-right:1px solid #CCC;"><%= link_to order.number, "http://#{Spree::Config[:site_url]}/admin/orders/#{order.number}" %></td>
			<td style="border-bottom:1px solid #CCC;border-right:1px solid #CCC;"><%= order.viewed_at.in_time_zone("Eastern Time (US & Canada)").to_s(:time_without_zone) %></td>
			<td style="border-bottom:1px solid #CCC;border-right:1px solid #CCC;"><%= ((Time.now - order.viewed_at) / 3600).round %></td>
		</tr>
		<% end %>
	</table>

	<p><strong>Orders not ready for shipping for over 6 hours since being accepted:</strong></p>

	<table border="0" cellspacing="0" cellpadding="3" style="border-collapse:separate;font-size:12px;text-align:center;border-top:1px solid #CCC;border-left:1px solid #CCC;">
		<tr>
			<th width="100" style="border-bottom:1px solid #CCC;border-right:1px solid #CCC;background-color:#EEE;">Order ID</th>
			<th width="220" style="border-bottom:1px solid #CCC;border-right:1px solid #CCC;background-color:#EEE;">Order accepted at (EDT)</th>
			<th width="200" style="border-bottom:1px solid #CCC;border-right:1px solid #CCC;background-color:#EEE;">Hours since accepted</th>
		</tr>
		<% @retailer.not_ready_shipping_since_accepted.each do |order| %>
		<tr>
			<td style="border-bottom:1px solid #CCC;border-right:1px solid #CCC;"><%= link_to order.number, "http://#{Spree::Config[:site_url]}/admin/orders/#{order.number}" %></td>
			<td style="border-bottom:1px solid #CCC;border-right:1px solid #CCC;"><%= order.accepted_at.in_time_zone("Eastern Time (US & Canada)").to_s(:time_without_zone) %></td>
			<td style="border-bottom:1px solid #CCC;border-right:1px solid #CCC;"><%= ((Time.now - order.accepted_at) / 3600).round %></td>
		</tr>
		<% end %>
	</table>

	<p>Please immediately contact <a href="mailto:orders@reservebar.com">orders@reservebar.com</a> or call 203-968-0365 if you have any questions, problems or concerns about fulfilling this order.</p>

	<p>Gratefully yours,<br />
	ReserveBar.com<br />
	Good Spirits. Delivered.</p>
	</div>
</div>
