<h3><%= accurate_title %></h3>

<div data-hook="account_summary">
  <dl id="user-info">
    <dt><%= t(:email) %></dt>
    <dd><%= @user.email %> (<%= link_to t(:edit), spree.edit_account_path %>)</dd>
  </dl>
</div>

<div data-hook="account_my_orders">

  <h3><%= t(:my_orders) %></h3>
  <% if @orders.present? %>
    <table class="order-summary">
      <thead>
        <tr>
          <th><%= t(:order_number) %></th>
          <th><%= t(:order_date) %></th>
          <th><%= t(:status) %></th>
          <th><%= t(:shipment_id) %></th>
          <th><%= t(:total) %></th>
        </tr>
      </thead>
      <tbody>
      <% @orders.each do |order| %>
        <tr class="<%= cycle('even', 'odd') %>">
          <td><%= link_to order.number, order_url(order) %></td>
          <td><%= l order.created_at.to_date %></td>
          <td><%= t("order_state.#{order.extended_state}") %></td>
          <td><a href="http://www.fedex.com/Tracking?language=english&cntry_code=us&tracknumbers=<%= order.shipment.try(:tracking) %>" target="_blank"><%= order.shipment.try(:tracking) %></a></td>
          <td><%= number_to_currency order.total %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% else %>
    <p><%= t(:you_have_no_orders_yet) %></p>
  <% end %>
  <br />

</div>
